In [1]:
a=["banana", 'apple', 'microsoft']
print(a[0])
print(a[1])
print(a[2]) #dis be too slow

banana
apple
microsoft

In [3]:
for element in a:
    print(element)
    print(element)

banana
banana
apple
apple
microsoft
microsoft

In [5]:
b=[20,10,5]
total=0
for e in b:
    total=total+e
print(total)      #combining elements in an array

35

In [7]:
#1,2,3,4
c=list(range(1,5))   #range lists all numbers from 1-5 exept 5, list lists all those numbers
print(c)

[1, 2, 3, 4]

In [10]:
total2=0
for i in range(1,5):
    total2 += i
print (total2)

10

In [11]:
print(list(range(1,8)))

[1, 2, 3, 4, 5, 6, 7]

In [12]:
total3=0
for i in range(1,8):
    if i % 3 == 0 : #modulo opp
        total3+=i
print (total3)

9

In [13]:
total4=0
for q in range(1,100):
    if q % 3 == 0 : #modulo opp
        total4+=q
print (total4)

1683